@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&display=swap');
/* CSS Document */

body {
	background-image: url(https://t3.ftcdn.net/jpg/02/99/83/66/360_F_299836672_LcyxCDANK4C58SFuxnnPygNMJqoQIpbT.jpg);
	background-size:cover;
	text-align:center;
}
h1 {
	text-align:center;
	font-size:55px;
	color:white;
	font-weight:bold;
	border-bottom:9px solid white;
	font-family:arvo;
	margin-bottom:100px;
}
img {
	width:30%;
	margin-bottom:-30px;
    
}
.small {
	display:inline-block;
	width:600px;
	padding:70px;
	background-color:white;
	border-top:10px solid #FF4245;
}
.mall {
	display:inline-block;
	vertical-align: top;
	margin-left: 60px;
	background-color:white;
	border-top:#55E7FF solid 10px;
	padding:0px 10px;
	padding-bottom: 378px;
}
h2 {
	color:#FF686B;
	font-family:arvo;
	text-align:center;
}
h3 {
	font-family: arvo;
	color:#4DFFF6;
	font-size:25px;
}
.big {
	font-family: comfortaa;
	color:#585858;
	font-size: 20px;
}
.website {
	color:red;
	font-size:25px;
	font-family: comfortaa;
}
.website:hover {
	color:blue;
}
.fake {
	font-size:20px;
	color:red;
	font-family: comfortaa;
}
.fake:hover {
	color:lightgreen;
}
a {
	line-height: 50px;
	padding:10px;
}